{% extends 'base.html.twig' %}

{% block title %}Список статей | SymphArt{% endblock %}

{% block body %}
    <h1>Список статей</h1>
    <p class="lead">Меня зовут, {{ name }}!</p>

    {% if articles %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Заголовок</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <th scope="row">{{ article.id }}</th>
                        <td>{{ article.title }}</td>
                        <td>
                            <a href="/article/{{ article.id }}/show" class="btn btn-success">Просмотреть</a>
                            <a href="/article/{{ article.id }}/update" class="btn btn-info">Редактировать</a>
                            <a href="/article/{{ article.id }}/delete" class="btn btn-danger">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="lead">Статей нет...</p>
    {% endif %}
{% endblock %}
